<div class='row'>
  <div class='col-md-9 col-sm-12'>
    <div class="card article-actions">
      <div class="card-header">
        <h1><%= @article.title %></h1>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <%= @article.description %>
          <footer>
            <%= @article.created_at %>
            <br>
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-warning' %>
            <%= link_to 'Destroy the article', article_path(@article), method: :delete,
                                       class: 'btn btn-outline-danger',
                                       data: { confirm: 'Are you sure to wanna delete that article?' } %>
            <%= link_to "Back to articles listing", articles_path, class: 'btn btn-outline-info' %>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
