<h3 align='center'><%= @category.name %>
  <% if logged_in? && current_user.admin? %>
    <%= link_to '(Edit category)', edit_category_path(@category) %>
  <% end %>
</h3>
<div class='row'>
  <div class="col-sm offset-sm-5">
    <%= will_paginate @articles %>
  </div>
</div>
<div class='row'>
  <div class="col-sm">
    <%= render @articles %>
  </div>
</div>
<div class='row'>
  <div class="col-sm offset-sm-5">
    <%= will_paginate @articles %>
  </div>
</div>
